body{
    font-family: sans-serif;
}

html,
.fullsreen{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container{
    margin: auto;
    text-align: center;
    color: rgb(117, 57, 173);
}

.title{
    font-size: 3rem;
}